<%- include ("../partials/header") %>
<div class="mt-5 pt-5">
    <h1>Your Listings</h1>
</div>
<table class="table  table-striped">
    <tbody>
        <tr>
            <td class="align-middle">Title</td>
            <td class="text-right"><a class="btn btn-danger" href="#" role="button">Delete</a></td>
        </tr>
    </tbody>
</table>
<%- include ("../partials/footer") %>
