<%- include ("../partials/header") %>
<div class="mt-5 pt-5">
    <h3>example@email.com</h3>
</div>
<ul class="nav nav-tabs" id="myTab" role="tablist" style="margin-bottom: 1rem;">
    <li class="nav-item">
        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Password</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Phone Number</a>
    </li>
</ul>
<div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
        <form action="" method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label for="exampleInputPassword1">Password</label>
                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
            </div>
            <button type="submit" class="btn btn-danger">Change</button>
        </form>
    </div>
    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
        <form action="" method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label for="phoneNumber">Phone Number</label>
                <input type="phoneNumber" class="form-control" id="phoneNumber" aria-describedby="phoneNumberHelp" placeholder="Enter phone number">
                <small id="phoneNumberHelp" class="form-text text-muted">This number will be used for potential buyers to contact you at.</small>
            </div>
            <button type="submit" class="btn btn-danger">Change</button>
        </form>
    </div>
</div>
<%- include ("../partials/footer") %>
