<%- include ("../partials/header") %>
<div class="text-center mt-5 pt-5">
    <h1>Would you like to buy or sell?</h1>
    <a class="btn btn-danger" href="/buy" role="button">Buy</a>
    <a class="btn btn-danger" href="/sell" role="button">Sell</a>
</div>
<%- include ("../partials/footer") %>
